<% include _header %>

<header>
  <div class="small-12 columns text-center">
    <h1>Admin</h1>
  </div>
</header>
<section class="products text-center">
  <div class="row">

    <% include _admin_nav %>

    <% include _page_msg %>

    <div>
      <form action="/deletepayments" method="post">
        <input type="hidden" name="payments" value="" id="js-admin-form-payments"/>
        <input class="admin-toggle-edit" type="button" onclick="admin_onclickToggleEdit();" id="admin-toggle-edit" value="Edit">
        <input class="admin-submit" type="submit" id="admin-submit" value="Submit">
      </form>
    </div>
    <table style="width: 100%; text-align: left; margin-top: 14px;">
      <thead>
        <tr>
          <th>Pd</th>
          <th>Date</th>
          <th>Pay T</th>
          <th>Payment Id</th>
          <th>Sale Id</th>
          <th>Soft</th>
          <th>Cus Name</th>
          <th>Cus Email</th>
          <!-- <th>Payer Email</th> -->
          <th class="admin-del-icon js-admin-del-icon">x</th>
        </tr>
      </thead>
      <tbody class="admin-payment-list">
        <% payments.forEach(function(pm, index) { %>
          <tr id="js-admin-pl-<%= index %>">
            <td class="<%= pm.state === 'approved' ? 'admin-c-approved' : 'admin-c-needapprove' %>"><%= pm.state === 'approved' ? '🔵' : '🔴' %></td>
            <td><%= normalizedate(pm.createdAt) %></td>
            <td><%= pm.type %></td>
            <td><a href="/payment/<%= pm.paymentId %> %>"><%= pm.paymentId %></a></td>
            <td><%= pm.saleId %></td>
            <td><%= pm.soft %></td>
            <td><%= pm.customerName %></td>
            <td><%= pm.customerEmail %></td>
            <!-- <td><%= pm.payerEmail %></td> -->
            <td class="admin-del-icon js-admin-del-icon" onclick="admin_onclickDel(<%= index %>, '<%= pm.paymentId %>')">x</td></tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>

<% include _body_footer %>

<script src="/js/admin.js"></script>

<% include _html_footer %>
