<% include _header %>

<section class="products text-center">
  <div class="row">
    <div class="app-page">
      <h1><%= title %></h1>
      <h2><%= subTitle %></h2>
      <!-- <img src="<%= icon %>" width="200" height="200" style="margin-bottom: -82px; padding: 10px;"> -->
      <img src="<%= icon %>" width="200" height="200" style="margin-bottom: -82px">
      <img id="img1" src="<%= appImg %>" width="1014">
      <p><strong><%= title %></strong><%= description %></p>
      <% features.forEach(function(f) { %>
        <h3 class="<%= f.side %>"><%= f.title %></h3>
        <img src="<%= f.img %>" width="1014">
        <% if (f.descriptions) { %>
          <% f.descriptions.forEach(function(d) { %>
            <p class="<%= f.side %>"><%= d %></p>
          <% }) %>
        <% } else { %>
          <p class="<%= f.side %>"><%= f.description %></p>
        <% } %>
      <% }) %>
      <h3>More features coming!</h2>
        <img src="<%= icon %>" width="512" height="512" style="padding: 20px;">
        <p><strong>GHstars</strong>  version 1.0 is released. There is a lot room to add new features and we keep working on it. We hope you like it!</p>
        <h3>Try?</h3>
        <a href="https://pan.baidu.com/s/1o8jRi34" class="try" target="_blank">Download GHstars</a>
        <p class="require">GHstars 1.0.2, requires OS X 10.7+</p>
        <p><a class="preorder" href="/store/ghstars">Buy Now</a></p>
    </div>
  </div>
</section>


<% include _footer %>
