<% include _header %>

<style>
 .content {
   text-align: center;
   margin: 40px;
   padding-top: 10px;
 }
 .title {
   font-size: 32px;
 }
 .icon {
   margin: 20px;
 }
 .other-pay-type {
   font-size: 14px;
   line-height: 26px;
 }
 .other-pay-type span {
   color: red;
 }
</style>

<div class="content">
  <h2 class="title">Order <%= soft %></h2>
  <img class="icon" src="<%= icon %>" width="200px" height="200px">

    <% include _page_msg %>

  <% if (qrCode != '') { %>

    <img class="qrcode" id="js-store-qrcode" data-noinvoice="<%= noInvoice %>" src="/api/pay/createqrcode?text=<%= encodeURIComponent(qrCode) %>&_=<%= new Date().getTime() %>"
      width="250px" height="250px">

  <% } else { %>
  <form class="form" name="js-store-form-pay" method="post" action="/api/pay">
    <input type="hidden" name="soft" value="<%= soft %>">

    <label for="email">Email</label>
    <input class="field" name="email" type="text" placeholder="username@example.com" /> <br>
    <div class="field-description">
      Email address to receive the license key.
      <div class="validate-msg" id="js-store-form-pay-email-vd-msg"></div>
    </div>
    <br>
    <label for="username">Name</label>
    <input class="field" name="username" type="text" placeholder="username" /> <br>
    <div class="field-description">
      Email and Name will both appear on the license key.
      <div class="validate-msg" id="js-store-form-pay-username-vd-msg"></div>
    </div>
    <br>
    <!-- <label for="paytype">Pay via</label> -->
    <!-- <input class="radio field js-store-form-pay-paytype" name="paytype" type="radio" value="alipay" checked="true" data-svalue="支付宝支付 ¥<%= price.cn %>" /> -->
    <!-- <span class="radio-desc">支付宝 ¥<%= price.cn %></span> -->
    <!-- <input class="radio field" name="paytype" type="radio" value="paypal" data-svalue="Pay via Paypal $<%= price.us %>"/> -->
    <!-- <span class="radio-desc">Paypal $<%= price.us %></span> -->
    <input class="radio field js-store-form-pay-paytype" name="paytype" type="hidden" value="paypal" data-svalue="Pay via Paypal $<%= price.us %>"/>
    <br>
    <!-- <input type="submit" id ="js-store-form-pay-submit" class="try" value="支付宝支付 ¥<%= price.cn %>"> -->
    <input type="submit" id ="js-store-form-pay-submit" class="try" value="Pay via Paypal $<%= price.us %>">
  </form>

  <a class="other-pay-type" href="/store/<%= soft.toLowerCase() %>/alipay">或使用<span>支付宝</span>支付</a>

  <% } %>
</div>

<% include _body_footer %>

<script src="/js/store.js"></script>

<% include _html_footer %>
